<!DOCTYPE html>
<html>
  <head>
    <title>BookProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <%= link_to "logout", sessions_path %>
    <%= link_to "profile", current_user %>
    <% else %>
      <%= link_to "login", new_session_path %>
      <%= link_to "Create new user", new_user_path %>
    <% end %>
    <%= link_to "home", books_path %>
    <%= yield %>
  </body>
</html>